/* style.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #0077cc;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 0;
    font-size: 1.2em;
}

main {
    flex: 1;
    padding: 20px;
    text-align: center;
}

button {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #007B9A;
}

#result-section {
    display: none; /* Hidden initially */
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Responsive Design for smaller screens */
@media (max-width: 600px) {
    header h1 {
        font-size: 2em;
    }
    header p, button {
        font-size: 0.9em;
    }
.social-share a {
    display: inline-block;
    margin: 5px;
    padding: 10px 15px;
    background-color: #55acee; /* Twitter blue, adjust for other platforms */
    color: white;
    border-radius: 5px;
    text-decoration: none;
    }

.social-share a:hover {
    background-color: #3b88c3;
    }
}

